.hero-section {
    background-image: url('images/Townhome.jpg'); /* Replace 'hero-background.jpg' with your actual image file */
    background-size: cover;
    background-position: center;
    color: #ffffff;
    text-align: center;
    padding: 100px 0;
  }
  
  .hero-heading {
    font-size: 3rem;
    margin-bottom: 20px;
  }
  
  .hero-subheading {
    font-size: 1.5rem;
    margin-bottom: 30px;
  }
  
  .btn-hero {
    font-size: 1.2rem;
    padding: 10px 30px;
    margin-top: 20px;
  }
  