body {
  background-color: rgba(14, 21, 36, 0.8);
  /* height: 150vh; */
}

.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #000;
}

.topnav li {
  float: left;
}

.topnav a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


.topnav a:hover {
  background-color: #111;
}

.active {
  background-color: #aa040a;
}

.column {
  float: left;
  color: rgba(255, 255, 255, 0.8);
}

.column.side {
  width: 25%;
}

.column.middle {
  width: 70%;
  padding-left: 1%;
}

h1 {
  text-align: center;
  color: rgba(255, 255, 255, 0.8);
}

#titleBar{
  font-family: 'Great Vibes', serif;
  font-size: 48px;
}

#middleTitle{
  font-family: 'Great Vibes' , serif;
  font-size: 35px;
}

#middleParagraph {
  font-size: 26px;
  font-family: 'Dancing Script', serif;
  
}

#gradPic{
  width: 100%;
}

#gitMark {
  height: 30px;
  float: left;
}
.statSheet {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  
}

.statSheet li {
  display: block;
  font-size: 22px;
  padding: 8px 16px;
  text-decoration: none;
  font-family: 'Dancing Script', serif;
  /* border: 2px solid red; */
}

@media screen and (max-width: 600px) {
  .column.side,
  .column.middle,
  .fullscreen {
    width: 100%;
  }
}